<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991543908887-khbafn4487odaa3egopqd7gkkbcqbucv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991543908887-khbafn4487odaa3egopqd7gkkbcqbucv</string>
	<key>API_KEY</key>
	<string>AIzaSyDQeIGGo7d9Xs6EwGWdql95Sm4fXevvdfU</string>
	<key>GCM_SENDER_ID</key>
	<string>991543908887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mechurao.sleepybear</string>
	<key>PROJECT_ID</key>
	<string>sleepybear-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepybear-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991543908887:ios:7473ea17eb585ee8fada52</string>
</dict>
</plist>